@use "@angular/material" as mat;
@use "./app/layout/layout-component.theme";

@include mat.core();

$angular-material-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  )
));

:root {
  @include mat.all-component-themes($angular-material-theme);
  @include layout-component.theme($theme);
}